<% @page_title = "New Vendor Badge" %>

<script>
  $(document).ready(function() {
    $('#reset-form-btn').click(resetVendorForm);
  });
</script>

<div class="row">
  <div id="vendor-badge-header" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="vendor-badge-title" class="pull-left">
      Vendor Badge
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="well">
      <h3 class="top-15 text-center">
        New Badge
        <a id="reset-form-btn" class="btn btn-xs btn-danger pull-right">
          Reset
        </a>
      </h3>
      <hr class="top-10 bottom-10" />
      <%= render 'form' %>
    </div>
  </div>
</div>