<%= form_for @type, html: { class: "text-center" } do |f| %>
  <div class="form-group">
    <%= f.text_field 'name', value: @type.name, placeholder: "Event Type Name",
      autofocus: 'autofocus', class: "form-control" %>
  </div>

  <%= f.submit btn_text, class: "btn btn-primary" %>
  <%= link_to 'Cancel', types_path, class: "btn btn-danger left-10" %>
<% end %>