<% @page_title = 'Event Types' %>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="well">
      <h2 class="text-center">Event Types</h2>
      <hr />
      <div class="text-center bottom-10">
        <%= link_to 'New Event Type', new_type_path, class: "btn btn-primary" %>
      </div>
      <% if @types.any? %>
        <div class="list-group">
          <% @types.each do |type| %>
            <li class="list-group-item">
              <%= type.name %>
              <div class="pull-right">
                <%= link_to edit_type_path(type), title: "Edit" do %>
                  <span class="glyphicon glyphicon-pencil right-10"></span>
                <% end %>

                <%= link_to type_path(type), method: 'delete',
                  title: "Delete", class: "red",
                  data: { confirm: "Are you sure want to DELETE event type #{type.name}?" } do %>
                    <span class="glyphicon glyphicon-remove-circle"></span>
                <% end %>
              </div>
            </li>
          <% end %>
        </div>
      <% else %>
        <div class="text-center top-30">
          <h4>No active event types :(</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>