<% @page_title = 'New Event Type' %>

<%= render 'shared/errors', obj: @type, show_attr: true %>

<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="well">
    <h2 class="text-center">New Event Type</h2>
    <hr />
    <%= render 'types_form', btn_text: 'Create' %>
  </div>
</div>