<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body { font-size: 20px; }
  </style>
</head>
<body>
  <strong>QR Codes and Excel Export:</strong>
  <p>
    <a href="<%= event_url(name: @event_name) %>">
      <%= "#{@event_name} - Batch #{@batch}" %>
    </a>
  </p>
</body>
</html>