<% if @results.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Account Name</th>
        <th>Sales Rep</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |row| %>
        <tr>
          <td><%= link_to row[:FullName], '#' %></td>
          <td><%= link_to row[:ParentCustomerIdName], '#' %></td>
          <td><%= link_to row[:SalesRep], '#' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>