<% @page_title = 'Archives / Deleted' %>

<%= render 'shared/errors', obj: @event if @event %>

<div class="row"> 
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well text-center">
      <h2 class="bottom-0">Archived Events</h2>
      <span class="font-12 ss-red">Click an event to re-activate it</span>
      <hr class="top-10" />
      <% if @archives.any? %>
        <div class="list-group text-left">
          <% @archives.each do |event| %>
            <%= link_to event.name, activate_event_path(event),
              method: 'patch', class: "list-group-item",
              data: { confirm: "Are you sure you want to ACTIVATE #{event.name}" } %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <h4>No archived events :(</h4>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well text-center">
      <h2 class="bottom-0">Recently Deleted Events</h2>
      <strong class="font-12">** Events will permanently delete after 3 days **</strong>
      <br />
      <span class="font-12 ss-red">Click an event to re-activate it</span>
      <hr class="top-10" />
      <% if @deleted.any? %>
        <div class="list-group text-left">
          <% @deleted.each do |event| %>
            <%= link_to event.name, activate_event_path(event),
              method: 'patch', class: "list-group-item",
              data: { confirm: "Are you sure you want to ACTIVATE #{event.name}" } %>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <h4>No recently deleted events</h4>
        </div>
      <% end %>
    </div>
  </div>
</div>