@import "bootstrap-sprockets";
@import "bootstrap";

a { text-decoration: none !important; }
ul { list-style: none; }
input[type="file"] { width: 100%; }

.well {
	padding-top: 0;
}

.inline-block { display: inline-block; }

.list-group a { color: #337ab7; }
.list-group a:hover { color: #23527c; }

.top-10 { margin-top: 10px; }
.top-20 { margin-top: 20px; }
.bottom-0 { margin-bottom: 0; }
.bottom-10 {margin-bottom: 10; }
.right-5 { margin-right: 5px; }
.right-10 { margin-right: 10px; }
.left-10 { margin-left: 10px; }

.pad-top-15 { padding-top: 15px; }

.font-12 { font-size: 12px; }
.font-20 { font-size: 20px; }

.ss-red { color: #b30000; }

.red { color: #d9534f; }
.red:hover { color: #bd2d29; }
.red:active { color: #7e1e1b; }

#event-title {
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

#event-title:after {
	content: "";
	display: block;
	clear: both;
}

.batch {
	height: 250px;
}

@media (min-width: 1200px) {
	.container { width: 900px; }
}

@media (min-width: 992px) {
	.container { width: 900px; }
}

@media (max-width: 725px) {
	#event-name { font-size: 24px; }
}

@media (max-width: 650px) {
	#event-controls {
		clear: both;
		float: left !important;
		margin-top: 0;
	}
}