@import "bootstrap-sprockets";
@import "bootstrap";

a { text-decoration: none !important; }
ul { list-style: none; }
input[type="file"] { width: 100%; }
hr { border-top: 1px solid #cccccc; }

.well { padding-top: 0; }

.alert ul { 
	padding: 0;
	margin-top: 5px;
}

.inline-block { display: inline-block; }

.list-group a { color: #337ab7; }
.list-group a:hover { color: #23527c; }

.margin-0 { margin: 0; }
.top-0 { margin-top: 0; }
.top-2 { margin-top: 2px; }
.top-5 { margin-top: 5px; }
.top-10 { margin-top: 10px; }
.top-12 { margin-top: 12px; }
.top-15 { margin-top: 15px; }
.top-20 { margin-top: 20px; }
.top-30 { margin-top: 30px; }
.top-40 { margin-top: 40px; }
.bottom-0 { margin-bottom: 0; }
.bottom-2 { margin-bottom: 2px; }
.bottom-5 {margin-bottom: 5px; }
.bottom-10 {margin-bottom: 10px; }
.bottom-20 {margin-bottom: 20px; }
.bottom-30 {margin-bottom: 30px; }
.right-5 { margin-right: 5px; }
.right-10 { margin-right: 10px; }
.left-10 { margin-left: 10px; }
.left-20 { margin-left: 20px; }
.left-30 { margin-left: 30px; }
.left-40 { margin-left: 40px; }

.pad-0 { padding: 0; }
.pad-top-15 { padding-top: 15px; }
.pad-bottom-10 { padding-bottom: 10px; }

.font-12 { font-size: 12px; }
.font-17 { font-size: 17px; }
.font-20 { font-size: 20px; }

.font-400 { font-weight: 400; }

.ss-red { color: #b30000; }

.red { color: #d9534f; }
.red:hover { color: #bd2d29; }
.red:active { color: #7e1e1b; }

.list-group a.red { color: #d9534f; }
.list-group a.red:hover { color: #bd2d29; }
.list-group a.red:active { color: #7e1e1b; }

#event-title {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

#event-title-on-site {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#event-title:after {
	content: "";
	display: block;
	clear: both;
}

#event-name {
	margin-top: 10px;
	margin-bottom: 0;
}

#event-name-on-site {
	margin-top: 0;
	margin-bottom: 0;
}

.batch { height: 240px; }
.batch-multiple { height: 260px; }

.batch-multiple div.form-group { margin-bottom: 10px; }

.batch a.batch, .batch-multiple a.batch { position: absolute; }
.batch a.delete, .batch-multiple a.delete { margin-left: 220px; }
.batch a.edit, .batch-multiple a.edit { margin-left: 190px; }

.batch-title { margin-top: 10px; }
.batch .batch-title { margin-bottom: 2px; }
.batch-multiple .batch-title { margin-bottom: 0; }

.batch-multiple .location {
	margin-bottom: 2px;
	color: #990000;
	font-size: 16px;
	font-weight: bold;	
}

.batch-desc { word-wrap: break-word; }

.batch .list-group-item, .batch-multiple .list-group-item { padding: 7px 15px; }

.batch .submit-btn { margin-top: 15px; }
.batch-multiple .submit-btn { margin-top: 10px; }

.batch-multiple h2#edit {
	margin-top: 15px;
	margin-bottom: 5px;
}

.attendee-form input[type="text"].form-control,
.crm-contact-form input[type="text"].form-control,
.crm-account-form input[type="text"].form-control {
	height: 30px;
	padding: 8px 10px;
	font-size: 12px;
}

.attendee-form .form-group { margin-bottom: 5px; }

.attendee-form .label-control {
	text-align: right;
	margin-bottom: 0;
}

.attendee-form sup { color: #FF0000; }

.attendee-form #badge-type {
	margin-top: 10px;
	margin-bottom: 20px;
}

.attendee-name-header {
	font-size: 20px;
	font-weight: bold;
}

.crm-contact-form .form-group, .crm-account-form .form-group {
	margin-bottom: 0;
}

#crm-contact-results .list-group-item {
	padding: 8px 10px;
	font-size: 12px;
	cursor: pointer;
}

#crm-account-results .list-group-item {
	padding: 8px 10px;
	font-size: 13px;
	cursor: pointer;
}

#crm-contact-results a div, #crm-account-results a div {
	display: none;
}

.table thead tr.th-row { background-color: #e7e7e7; }

.table tbody tr td { padding: 0; }

.table tbody tr td a {
	display: block;
	padding: 8px;
}

.table tbody tr td a:hover { color: #337ab7; }

.table tbody tr td a.delete-attendee {
	padding: 0;
	margin: 8px;
}

#print-qr {
	margin: 0 auto;
	width: 300px;
}

#print-qr #first-name {
	font-size: 40px;
	font-weight: bold;
}

#print-qr #last-name { font-size: 25px; }

#print-qr #account-name {
	font-size: 22px;
	font-weight: bold;
}

#print-qr img {
	display: block;
	margin: 0 auto;
}

#print-qr .no-print {
	margin-top: 30px;
}

#badge-type label + label { margin-left: 40px; }

#badge-type label {
	font-size: 16px;
	font-weight: bold;
}

@media (min-width: 1200px) {
	.container { width: 900px; }
}

@media (min-width: 992px) {
	.container { width: 900px; }
}

@media (min-width: 768px) {
	.attendee-form .label-control { padding-top: 6px; }
}

@media (max-width: 725px) {
	#event-name { font-size: 24px; }
}

@media (max-width: 700px) {
	.badge-type-col { display: none; }
}

@media (max-width: 650px) {
	#event-controls {
		clear: both;
		float: left !important;
		margin-top: 10px;
	}
}