var cancelBtn = "<a id=\"crm-account-cancel-btn\"";
cancelBtn += "class=\"btn btn-sm btn-danger top-10 left-10\">Cancel</a>";

var results = "";

<% if @results.any? %>
  results += "<hr id=\"crm-account-line\" class=\"top-10 bottom-10\" />";
  results += "<div id=\"crm-account-results\" class=\"list-group\">";
  <% @results.each do |row| %>
    <% account_name = row[0].strip if row[0].present? %>
    <% account_number = row[1].strip if row[1].present? %>

    results += "<%= j render 'ship_to_link', account_number: account_number, account_name: account_name %>";
  <% end %>
  results += "</div>";
<% else %>
  results += "<hr id=\"crm-account-line\" class=\"top-10 bottom-10\" />";
  results += "<h4 id=\"crm-account-no-results\" class=\"text-center top-20\">";
  <% if params[:account_name].present? %>
    <% if @account_length_error %>
      results += "3 characters required for account search."
    <% else %>
      results += "No results found.";
    <% end %>
  <% else %>
    results += "You didn't search anything.";
  <% end %>
  results += "</h4>";
<% end %>

clearCrmContactAndAccountSearch();

$('#crm-account-submit-btn').removeAttr('disabled');
$('#crm-account-submit-btn').removeAttr('width-80');
$('#crm-account-submit-btn').find('span.submit-text').removeClass('hide-me');
$('#crm-account-submit-btn').find('div.spinner').addClass('hide-me');

$(cancelBtn).insertAfter('#crm-account-submit-btn');
$(results).insertAfter('.crm-account-form');

$('#crm-account-cancel-btn').click(clearCrmContactAndAccountSearch);