var cancelBtn = "<a class=\"crm-account-cancel-btn btn btn-sm btn-danger top-10 left-10\">Clear</a>";
var results = "";

<% if @results.any? %>
  results += "<div id=\"crm-account-search-results\" class=\"well well-dark bottom-60\">";
  results += "<div class=\"text-center pad-5\">";
  results += "<a class=\"crm-account-cancel-btn btn btn-xs btn-danger clear-btn\">Clear Results</a>";
  results += "</div>";
  results += "<div id=\"crm-account-results\" class=\"list-group\">";
  <% @results.each do |row| %>
    <% account_name = row[0].strip if row[0].present? %>
    <% account_number = row[1].strip if row[1].present? %>

    results += "<%= j render 'ship_to_link', account_number: account_number, account_name: account_name %>";
  <% end %>
  results += "</div></div>";
<% else %>
  results += "<div id=\"crm-account-no-results\" class=\"bottom-60\">";
  results += "<div class=\"well well-dark text-center pad-top-20\">";
  results += "<h4>";
  <% if params[:account_name].present? %>
    <% if @account_length_error %>
      results += "3 characters required for account search"
    <% else %>
      results += "No results found";
    <% end %>
  <% else %>
    results += "You didn't search anything";
  <% end %>
  results += "</h4></div></div>";
<% end %>

clearCheckInSearch();
clearCrmContactAndAccountSearch();

$('#crm-account-submit-btn').removeAttr('disabled');
$('#crm-account-submit-btn').find('span.submit-text').removeClass('hide-me');
$('#crm-account-submit-btn').find('div.spinner').addClass('hide-me');

$(cancelBtn).insertAfter('#crm-account-submit-btn');
$(results).insertBefore('#new-on-site-badge-form');

$('.crm-account-cancel-btn').click(clearCrmContactAndAccountSearch);