<% if @results.any? %>
  results = "<hr id=\"crm-contact-line\" class=\"top-10 bottom-10\" />"
  results += "<div id=\"crm-contact-results\" class=\"list-group\">"
  <% @results.each do |row| %>
    results += "<a href=\"#\" class=\"list-group-item text-left\">"
    results += "<%= row[0] %> <%= row[1] %>"
    results += "<span class=\"pull-right\"><%= row[2] %></span>"
    results += "</a>"
  <% end %>
  results += "</div>"
<% else %>
  results = "<hr id=\"crm-contact-line\" class=\"top-10 bottom-10\" />"
  results += "<h4 id=\"crm-contact-no-results\" class=\"text-center\">"
  results += "No results found for "
  results += "<%= params[:last_name] ? params[:last_name] : params[:account_name] %>"
  results += "</h4>"
<% end %>

if ($('#crm-contact-line')) { $('#crm-contact-line').remove(); };
if ($('#crm-contact-results')) { $('#crm-contact-results').remove(); };
if ($('#crm-contact-no-results')) { $('#crm-contact-no-results').remove(); };
if ($('#crm-contact-cancel-btn')) { $('#crm-contact-cancel-btn').remove(); };

$("<button id=\"crm-contact-cancel-btn\" class=\"btn btn-danger top-10 left-10\">Cancel</button>").insertAfter('#crm-contact-submit-btn');
$(results).insertAfter('.crm-contact-form');