<% @page_title = "On-Site QR Code - #{@event.name}" %>

<%= render 'shared/errors', obj: @attendee %>

<div class="row">
  <div id="event-title-on-site" class="col-xs-12 col-sm-12 col-md-12">
    <h2 id="event-name-on-site" class="pull-left"><%= @event.name %></h2>
  </div>
</div>

<div class="row"> 
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well">
      <h3 class="top-15 text-center">New QR Code</h3>
      <hr class="top-10 bottom-10" />
      <%= render 'form', btn_text: 'Create' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="well">
      Search for Contact / Account

      <%#= link_to 'Search CRM', crm_contact_event_path(@event),
        class: "btn btn-lg btn-primary" %>
      <%#= link_to 'On Demand', on_demand_event_path(@event),
        class: "btn btn-lg btn-primary left-30" %>
    </div>
  </div>
</div>