<%= form_tag search_event_crm_campaigns_path(@event),
  method: 'get', remote: true, id: "crm-campaign-form",
  class: "text-center crm-campaign-form" do |f| %>

  <div class="form-group">
    <%= text_field_tag 'name', nil, placeholder: "CRM Campaign Name..",
      autofocus: 'autofocus', required: true, class: "form-control" %>
  </div>

  <%#= submit_tag btn_text, id: "crm-campaign-submit-btn",
    class: "btn btn-sm btn-primary" %>

  <button id="crm-campaign-submit-btn" class="btn btn-sm btn-primary loader">
    <span class="submit-text"><%= btn_text %></span>
    <div class="spinner spinner-15 hide-me">
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
    </div>
  </button>
<% end %>