var cancelBtn = "<a id=\"crm-campaign-cancel-btn\"";
cancelBtn += "class=\"btn btn-sm btn-danger left-10\">Cancel</a>";

var results = "";

<% if @results.any? %>
  results += "<div id=\"crm-campaign-results\" class=\"list-group\">";
  <% @results.each do |row| %>
    <% campaign_name = row[0].strip if row[0] %>
    <% code = row[1].strip if row[1] %>
    <% start_date = row[2].strftime("%Y-%m-%d") if row[2] %>
    <% end_date = row[3].strftime("%Y-%m-%d") if row[3] %>
    <% campaign_id = row[4].strip if row[4] %>

    results += "<%= j render 'create_campaign_link', campaign_name: campaign_name, code: code, start_date: start_date, end_date: end_date, campaign_id: campaign_id %>";
  <% end %>
  results += "</div>";
<% else %>
  results += "<h4 id=\"crm-campaign-no-results\" class=\"text-center top-20\">";
  <% if params[:campaign_name].present? %>
    results += "No results found.";
  <% else %>
    results += "You didn't search anything.";
  <% end %>
  results += "</h4>";
<% end %>

clearCrmCampaignSearch();

$('#crm-campaign-submit-btn').removeAttr('disabled');
$('#crm-campaign-submit-btn').removeAttr('width-80');
$('#crm-campaign-submit-btn').find('span.submit-text').removeClass('hide-me');
$('#crm-campaign-submit-btn').find('div.spinner').addClass('hide-me');

$(cancelBtn).insertAfter('#crm-campaign-submit-btn');
$(results).insertAfter('.crm-campaign-form');

$('#crm-campaign-cancel-btn').click(clearCrmCampaignSearch);