<%= form_for @location, html: { class: "text-center" } do |f| %>
  <div class="form-group">
    <%= f.text_field 'name', value: @location.name, placeholder: "Location Name...",
      autofocus: 'autofocus', required: true, class: "form-control" %>
  </div>

  <%= f.submit btn_text, class: "btn btn-primary" %>
  <%= link_to 'Cancel', locations_path, class: "btn btn-danger left-10" %>
<% end %>