<%= form_for @location,
  html: { id: "location-form", class: "text-center", autocomplete: "off" } do |f| %>
  
  <div class="form-group">
    <%= f.text_field 'name', value: @location.name, placeholder: "Location Name...",
      autofocus: 'autofocus', required: true, class: "form-control" %>
  </div>

  <button class="btn btn-primary loader">
    <span class="submit-text"><%= btn_text %></span>
    <div class="spinner spinner-20 hide-me">
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
      <div class="white"></div><div class="white"></div>
    </div>
  </button>
  
  <%= link_to 'Cancel', locations_path, class: "btn btn-danger left-10" %>
<% end %>