<%= render 'shared/errors', obj: @location %>

<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="well">
    <div class="text-center">
      <h2>Edit Location</h2>
      <span class="font-20"><%= @location.city %></span>
    </div>
    <hr />
    <%= render 'locations_form', btn_text: 'Update' %>
  </div>
</div>